<h3>Open Orders</h3>
<div *ngIf="openOrders?.length > 0;else other_content">
    <li *ngFor="let order of openOrders" >
        <button  [routerLink]="['../open-order-completion-step-two']" (click)="onSelectedOpenOrder(order)">Receive</button>
        {{ order.order_id }} | {{ order.supplier_code }} | {{ order.item_num }} | {{ order.item_name }} | 
        {{ order.unit_price }} | {{ order.qty }} | {{ order.unit }} | 
        {{ order.order_date | date: 'MMM d, y' }} | {{ order.promise_date | date: 'MMM d, y' }}
    </li>
</div>

<ng-template #other_content>Currently, there is no open order in the database.</ng-template>