<h3>Closed Orders</h3>
<div>
    <li *ngFor="let order of closedOrders" >
        <button  [routerLink]="['../quality-issue-entry-step-two']" (click)="onSelectedClosedOrder(order)">Report</button>
        {{ order.order_id }} | {{ order.supplier_code }} | {{ order.item_num }} | {{ order.item_name }} | 
        {{ order.unit_price }} | {{ order.qty }} | {{ order.unit }} | 
        {{ order.order_date | date: 'MMM d, y' }} | {{ order.delivery_date | date: 'MMM d, y' }}
        <!-- <button  [routerLink]="['../open-order-completion-step-two', controlId ]">Receive</button> -->
    </li>
</div>
